WSReferences/гф_ПочтаРоссииОтслеживаниеЕдиничныйДоступ/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://russianpost.org/operationhistory"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="0"
		xmlns:xsd10="http://schemas.xmlsoap.org/soap/envelope/"
		xmlns:xsd11="http://www.russianpost.org/RTM/DataExchangeESPP/Data"
		xmlns:xsd12="http://www.russianpost.org/custom-duty-info/data"
		xmlns:xsd2="1"
		xmlns:xsd3="2"
		xmlns:xsd4="3"
		xmlns:xsd5="4"
		xmlns:xsd6="5"
		xmlns:xsd7="http://russianpost.org/operationhistory"
		xmlns:xsd8="http://russianpost.org/operationhistory/data"
		xmlns:xsd9="http://russianpost.org/sms-info/data"
		name="OperationHistory12"
		targetNamespace="http://russianpost.org/operationhistory">
	<types>
		<xsd:schema xmlns:ns1="http://www.russianpost.org/custom-duty-info/data"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				xmlns:wsp="http://www.w3.org/ns/ws-policy"
				xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
				targetNamespace="0">
			<xsd:import namespace="http://www.russianpost.org/custom-duty-info/data"
					schemaLocation="file://1.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:ns1="http://www.russianpost.org/RTM/DataExchangeESPP/Data"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				xmlns:wsp="http://www.w3.org/ns/ws-policy"
				xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
				targetNamespace="1">
			<xsd:import namespace="http://www.russianpost.org/RTM/DataExchangeESPP/Data"
					schemaLocation="file://2.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:ns1="http://schemas.xmlsoap.org/soap/envelope/"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				xmlns:wsp="http://www.w3.org/ns/ws-policy"
				xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
				targetNamespace="2">
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/envelope/"
					schemaLocation="file://3.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:ns1="http://russianpost.org/sms-info/data"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				xmlns:wsp="http://www.w3.org/ns/ws-policy"
				xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
				targetNamespace="3">
			<xsd:import namespace="http://russianpost.org/sms-info/data"
					schemaLocation="file://4.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:ns1="http://russianpost.org/operationhistory/data"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				xmlns:wsp="http://www.w3.org/ns/ws-policy"
				xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
				targetNamespace="4">
			<xsd:import namespace="http://russianpost.org/operationhistory/data"
					schemaLocation="file://5.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				xmlns:wsp="http://www.w3.org/ns/ws-policy"
				xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
				targetNamespace="5">
			<xsd:import namespace="http://russianpost.org/operationhistory"
					schemaLocation="file://6.xsd"/>
		</xsd:schema>
	</types>
	<message name="getOperationHistory">
		<part name="parameters"
				element="tns:getOperationHistory"/>
	</message>
	<message name="getOperationHistoryResponse">
		<part name="parameters"
				element="tns:getOperationHistoryResponse"/>
	</message>
	<message name="OperationHistoryFault">
		<part name="fault"
				element="xsd8:OperationHistoryFaultReason"/>
	</message>
	<message name="AuthorizationFault">
		<part name="fault"
				element="xsd8:AuthorizationFaultReason"/>
	</message>
	<message name="getLanguages">
		<part name="parameters"
				element="tns:getLanguages"/>
	</message>
	<message name="getLanguagesResponse">
		<part name="parameters"
				element="tns:getLanguagesResponse"/>
	</message>
	<message name="LanguageFault">
		<part name="fault"
				element="xsd8:LanguageFaultReason"/>
	</message>
	<message name="getCustomDutyEventsForMail">
		<part name="parameters"
				element="tns:getCustomDutyEventsForMail"/>
	</message>
	<message name="getCustomDutyEventsForMailResponse">
		<part name="parameters"
				element="tns:getCustomDutyEventsForMailResponse"/>
	</message>
	<message name="CustomDutyEventsForMailFault">
		<part name="fault"
				element="xsd12:CustomDutyEventsForMailFault"/>
	</message>
	<message name="getSmsHistory">
		<part name="parameters"
				element="tns:getSmsHistory"/>
	</message>
	<message name="getSmsHistoryResponse">
		<part name="parameters"
				element="tns:getSmsHistoryResponse"/>
	</message>
	<message name="SmsHistoryFault">
		<part name="fault"
				element="xsd9:SmsHistoryFaultReason"/>
	</message>
	<message name="PostalOrderEventsForMail">
		<part name="parameters"
				element="tns:PostalOrderEventsForMail"/>
	</message>
	<message name="PostalOrderEventsForMailResponse">
		<part name="parameters"
				element="tns:PostalOrderEventsForMailResponse"/>
	</message>
	<message name="PostalOrderEventsForMailFault">
		<part name="fault"
				element="xsd11:PostalOrderEventsForMailFault"/>
	</message>
	<portType name="OperationHistory12">
		<operation name="getOperationHistory">
			<input name="getOperationHistoryRequest"
					message="tns:getOperationHistory"/>
			<output name="getOperationHistoryResponse"
					message="tns:getOperationHistoryResponse"/>
			<fault name="OperationHistoryFault"
					message="tns:OperationHistoryFault"/>
			<fault name="AuthorizationFault"
					message="tns:AuthorizationFault"/>
		</operation>
		<operation name="getLanguages">
			<input name="getLanguagesRequest"
					message="tns:getLanguages"/>
			<output name="getLanguagesResponse"
					message="tns:getLanguagesResponse"/>
			<fault name="OperationHistoryFault"
					message="tns:OperationHistoryFault"/>
			<fault name="AuthorizationFault"
					message="tns:AuthorizationFault"/>
			<fault name="LanguageFault"
					message="tns:LanguageFault"/>
		</operation>
		<operation name="getCustomDutyEventsForMail">
			<input name="getCustomDutyEventsForMailRequest"
					message="tns:getCustomDutyEventsForMail"/>
			<output name="getCustomDutyEventsForMailResponse"
					message="tns:getCustomDutyEventsForMailResponse"/>
			<fault name="CustomDutyEventsForMailFault"
					message="tns:CustomDutyEventsForMailFault"/>
			<fault name="AuthorizationFault"
					message="tns:AuthorizationFault"/>
			<fault name="LanguageFault"
					message="tns:LanguageFault"/>
		</operation>
		<operation name="getSmsHistory">
			<input name="getSmsHistoryRequest"
					message="tns:getSmsHistory"/>
			<output name="getSmsHistoryResponse"
					message="tns:getSmsHistoryResponse"/>
			<fault name="SmsHistoryFault"
					message="tns:SmsHistoryFault"/>
			<fault name="AuthorizationFault"
					message="tns:AuthorizationFault"/>
			<fault name="LanguageFault"
					message="tns:LanguageFault"/>
		</operation>
		<operation name="PostalOrderEventsForMail">
			<input name="PostalOrderEventsForMailRequest"
					message="tns:PostalOrderEventsForMail"/>
			<output name="PostalOrderEventsForMailResponse"
					message="tns:PostalOrderEventsForMailResponse"/>
			<fault name="PostalOrderEventsForMailFault"
					message="tns:PostalOrderEventsForMailFault"/>
		</operation>
	</portType>
	<binding name="OperationHistory12PortBinding"
			type="tns:OperationHistory12">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getOperationHistory">
			<soap12bind:operation style="document"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
			<fault name="OperationHistoryFault">
				<soap12bind:fault name="OperationHistoryFault"
						use="literal"/>
			</fault>
			<fault name="AuthorizationFault">
				<soap12bind:fault name="AuthorizationFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="getLanguages">
			<soap12bind:operation style="document"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
			<fault name="OperationHistoryFault">
				<soap12bind:fault name="OperationHistoryFault"
						use="literal"/>
			</fault>
			<fault name="AuthorizationFault">
				<soap12bind:fault name="AuthorizationFault"
						use="literal"/>
			</fault>
			<fault name="LanguageFault">
				<soap12bind:fault name="LanguageFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="getCustomDutyEventsForMail">
			<soap12bind:operation style="document"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
			<fault name="CustomDutyEventsForMailFault">
				<soap12bind:fault name="CustomDutyEventsForMailFault"
						use="literal"/>
			</fault>
			<fault name="AuthorizationFault">
				<soap12bind:fault name="AuthorizationFault"
						use="literal"/>
			</fault>
			<fault name="LanguageFault">
				<soap12bind:fault name="LanguageFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="getSmsHistory">
			<soap12bind:operation style="document"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
			<fault name="SmsHistoryFault">
				<soap12bind:fault name="SmsHistoryFault"
						use="literal"/>
			</fault>
			<fault name="AuthorizationFault">
				<soap12bind:fault name="AuthorizationFault"
						use="literal"/>
			</fault>
			<fault name="LanguageFault">
				<soap12bind:fault name="LanguageFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="PostalOrderEventsForMail">
			<soap12bind:operation style="document"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
			<fault name="PostalOrderEventsForMailFault">
				<soap12bind:fault name="PostalOrderEventsForMailFault"
						use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="OperationHistory12">
		<port name="OperationHistory12Port"
				binding="tns:OperationHistory12PortBinding">
			<soap12bind:address location="https://tracking.russianpost.ru/rtm34"/>
		</port>
	</service>
</definitions>